<!--tableau rtl avec fichier fichier.json-->



  <div class="table_rtl">
      <table class="mat-elevation-z8">
          <caption><img src="assets/rtl.png" alt="" style="width:80px;height:70px;border-radius:80px;margin-left:auto;margin-right:auto;"></caption>
          <thead style="font-size: 20px;">
          <tr>
            <th scope="col"> Name </th>
            <th scope="col"> MAC Adr. </th>
            <th scope="col"> Temp. </th>
          </tr>  
          </thead>
          <tbody>
              <div class="header_tab"></div>
            <tr *ngFor="let element of content_tab_rtl ">
            <td> <div class="name">{{element.privacy}}</div></td>
            <td> {{element.bssid}} </td>
            <td> {{element.nb_sta_co}} </td>
          </tr>
          </tbody>  
        </table>
      </div>