<!--tableau ble -->
<!--<div style="text-align:center">-->

  <!-- <mat-form-field>
    <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Chercher dans la table">
  </mat-form-field> -->
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
  <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500" rel="stylesheet">
  <div class="table_ble">
    
  <table class="mat-elevation-z8">
      <!-- <caption><img src="assets/ble.png" alt="" style="width:80px;height:70px;border-radius:80px;margin-left:auto;margin-right:auto;"></caption> -->
      <caption><i class="fab fa-bluetooth-b fa-4x"></i></caption>
      <thead style="font-size: 25px; font-family: Avantgarde, TeX Gyre Adventor, URW Gothic L, sans-serif;">
      <tr>
        <th scope="col"> Nom </th>
        <th scope="col"> MAC </th>
      </tr>  
      </thead>
      <tbody>
          <div class="header_tab"></div>
        <tr *ngFor="let element of content_tab_ble ">
        <td> <div class="name">{{element.nom_ble}}</div></td>
        <td> {{element.macaddr_ble}} </td>
        
      </tr>
      </tbody>  
    </table>
  </div>