<!--The content below is only a placeholder and can be replaced.-->
<link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500" rel="stylesheet">
<div class ="logo">
  <img src="assets/LOGO.png" alt="" style="width:100px;height:70px;border-radius:20px;">
  </div>
<div style="text-align:center">
  <!-- <h1> -->
      <h1 class="mat-display-1">
    Dashboard {{ title }}
  </h1>
  <!--pie chart-->
  <app-chart-test [refresh]="refresh.asObservable()"></app-chart-test>
  <h1> </h1>

  <div>
    <div id="status" [ngClass]="{'active': scanIsLaunched}"></div>
    <!--boutton lancer le scan-->
    <button mat-raised-button (click)="handleClickstart($event)">Lancer le scan</button>
    <!--boutton arreter le scan-->
    <button mat-raised-button (click)="handleClickstop($event)">Arreter le scan</button>
  </div>

  <!--spinner de chargement
  <div class="spin">
  <mat-progress-spinner
         class="example-margin"
         [color]="color"
         [mode]="mode"
         [value]="value"
         [diameter]="50">
  </mat-progress-spinner>
</div>-->

  </div>

<h1> </h1>


<div class="bloc_tableau">
<!--tableau wifi avec le json wifi : fichier.json-->
<app-component-tab-wifi [date]="date" [refresh]="refresh.asObservable()"></app-component-tab-wifi>

<!--tableau ble avec le json wifi : fichier.json-->
<app-component-tab-ble [date]="date" [refresh]="refresh.asObservable()"></app-component-tab-ble>
<!-- <app-component-tab-ble></app-component-tab-ble> -->
<!--tableau rtl avec le json wifi : fichier.json-->
<app-component-tab-rtl [date]="date" [refresh]="refresh.asObservable()"></app-component-tab-rtl>
<!-- <app-component-tab-rtl></app-component-tab-rtl> -->
</div>

<!--<router-outlet></router-outlet>-->

<div class="bloc_vulnerabilites">
<!--vulnerabilites wifi-->
<app-vulnerabilite-wifi></app-vulnerabilite-wifi>

<!--vulnerabilites ble-->
<app-vulnerabilite-ble></app-vulnerabilite-ble>

<!--vulnerabilites rtl-->
<app-vulnerabilite-rtl></app-vulnerabilite-rtl>
</div>
<hr><!--footer-->
	<footer> <em> DUCHEMIN Bryan &nbsp; &nbsp;&nbsp;  PREMET Solenn &nbsp;&nbsp;&nbsp;  RATANAVANH Anais</em>
  </footer>
  