<!--tableau pour vulnerabilites ble -->
<div class="vulnerabilites_ble">
  <table class="mat-elevation-z8">
      <thead style="font-size: 20px;">
          <b>Vulnérabilités BLE</b>
      </thead>
      <tbody>
      </tbody>  
    </table>
    <div class='ampoule'><br>
      <b>Nom :</b> Fuyutec <br>
      <b>Mac Adr. :</b> AA:AA:AA:AA:AA:AA <br>
      <b>Couleur :</b> <div class="colors">
        <input type="checkbox" id="rouge" name="rouge">
        <label for="rouge" style="color:red">Rouge</label>
        <input type="checkbox" id="bleu" name="bleu">
        <label for="bleu" style="color:blue">Bleu</label>
        <input type="checkbox" id="vert" name="vert">
        <label for="vert" style="color:green">Vert</label>
      </div> 
      <br>
      <b>Allumer :</b> 
      <INPUT type= "radio" name="on-off" value="on"> ON
        <INPUT type= "radio" name="on-off" value="off"> OFF
          <br>
    </div>
    <hr>
    <div class='bipper'><br>
        <b>Nom :</b> Bip <br>
        <b>Mac Adr. :</b> C8:AA:AA:AA:AA:AA <br>
        <b>Faire Sonner :</b> 
        <INPUT type= "radio" name="on-off" value="on"> ON
          <INPUT type= "radio" name="on-off" value="off"> OFF
            <br>
    </div>
  </div>