<!--tableau pour vulnerabilites rtl -->
<div class="vulnerabilites_rtl">
    <table class="mat-elevation-z8">
        <thead style="font-size: 20px;">
          <b>Vulnérabilités RTL</b>
        </thead>
        <tbody>
            <!--<div class="header_tab"></div>-->
        </tbody>  
      </table>
     <div class='thermo'> <img src="assets/thermo.png" alt="" style="width:130px;height:130px;">
     </div>
     <div class='temperature'><b>Température :</b> 20°C</div>
     <div class='humidite'><img src="assets/humidity.png" alt="" style="width:130px;height:130px;">
    </div>
    <div class='humidity'><b>Humidité :</b> 32%</div>
</div>